/* Common ------------------------------------------------------------------ */

	html, body, div, span, applet, object, svg, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, burger, nav, output, ruby, section, summary, time, mark, audio, video, {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, img, svg, video {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

/* Body -------------------------------------------------------------------- */

	iframe { display: none; visibility: hidden; }
	.off { display: none !important; }
	.hide { opacity: 0 !important; cursor: initial !important; }
	.nobr { white-space: nowrap; }

	.survived { background: #445; }
	.remained { background: #99a; }
	.died { background: #a87; }
	.missing { background: #dcb; }
	.walked { background: #9bd; }

	rect.chitta { fill: #bd6; }
	path.chitta { stroke: #bd6; }
	rect.hobby { fill: #8be; }
	path.hobby { stroke: #8be; }
	rect.braganza { fill: #b7b; }
	path.braganza { stroke: #b7b; }
	rect.quest { fill: #c96; }
	path.quest { stroke: #c96; }
	rect.krasin { fill: #f99; }
	path.krasin { stroke: #f99; }
	rect.malygin { fill: #66c; }
	path.malygin { stroke: #66c; }
	rect.redtent { fill: #f33; }
	path.redtent { stroke: #f33; }
	path.italia { stroke: #f33; }

	html {
		font-family: "georgia", serif;
		font-size: 16px;
	}

	body {
		background: #fff;
		color: #334;
	}

	header {
		font-family: "trajan-sans-pro", sans-serif;
		font-weight: 500;
		text-align: center;
		position: relative;
		animation: splash 2s forwards ease-out;
	}
		header #title {
			background: transparent url("../img/title.jpg") center center no-repeat;
			background-size: cover;
			background-position-x: 45%;
			display: flex;
			flex-flow: column;
			align-items: center;
			justify-content: center;
			min-height: calc(100vh - 10rem);
			padding: 5rem 0;
		}
			header #title h1 {
				font-size: 12.6vmin;
				line-height: 12.6vmin;
				letter-spacing: 2.1vmin;
				color: #fff;
				text-shadow: 0 1px 3px rgba(0, 0, 26, .5);
				opacity: 0;
				width: calc(100% - 40px);
				padding-top: 100px;
				animation: splash 3s 1s forwards ease-out;
			}
				header #title h1 span {
					font-weight: 700;
					font-size: 4vmin;
					line-height: 5vmin;
					letter-spacing: 1.5vmin;
					display: block;
					margin-top: 3vmin;
				}
		header #lead {
			background: #334 url("../img/horizon.svg") center bottom repeat-x;
			background-size: 1800px auto;
			display: flex;
			align-items: center;
			height: calc(100vh - 10rem);
			padding: 5rem 0;
		}
			header #lead p {
				font-weight: 700;
				font-size: 1rem;
				line-height: 1.5rem;
				letter-spacing: 1px;
				color: #fff;
				text-shadow: 0 1px 2px rgba(0, 0, 0, .5);
				width: calc(100% - 40px);
				max-width: 715px;
				margin: 0 auto;
			}
	@media (min-width: 1025px) {
		header {
			background: transparent url("../img/title.jpg") center center no-repeat;
			background-size: cover;
			background-position-x: 45%;
			background-attachment: fixed;
		}
			header #title {
				background: none;
			}
				header #title h1 {
					font-size: 6rem;
					line-height: 6rem;
					letter-spacing: 1rem;
				}
					header #title h1 span {
						font-size: 2rem;
						line-height: 2.5rem;
						letter-spacing: .6rem;
						margin-top: 1rem;
					}
			header #lead {
				background: url("../img/horizon.svg"), linear-gradient(to bottom, rgba(0, 0, 16, 0) 50%,  rgba(0, 0, 16, .85) 100%);
				background-position: center bottom;
				background-repeat: repeat-x;
				background-size: 1800px auto;
			}
				header #lead p {
					font-size: 1.25rem;
					line-height: 2rem;
					letter-spacing: 1px;
				}
	}
		
	footer {
		font-family: 'proxima-nova', sans-serif;
		font-weight: 500;
		background: #334;
		color: #99a;
		position: relative;
	}
		footer .row {
			display: flex;
			flex-flow: row wrap;
			justify-content: center;
			width: calc(100% - 20px);
			max-width: 980px;
			margin: 0 auto;
		}
			footer .row a {
				color: #ccd;
			}
				footer .row a:hover {
					text-decoration: none;
				}
			footer .row .col {
				font-size: .75rem;
				line-height: 1rem;
				flex-basis: 225px;
				flex-grow: 1;
				flex-shrink: 0;
				margin: 0 10px;
			}
				footer .row .col p,
				footer .row .col ul,
				footer .row .col ol {
					margin: 0 0 1rem 0;
				}
					footer .row .col span {
						letter-spacing: 1px;
						text-transform: uppercase;
						color: #ccd;
					}
					footer .row .col .book,
					footer .row .col .org {
						letter-spacing: initial;
						text-transform: initial;
						color: #99a;
					}
				footer .row .col .sources {
					list-style: decimal;
					list-style-position: outside;
				}
					footer .row .col .sources li {
						-webkit-font-feature-settings: "tnum" 1;
						font-feature-settings: "tnum" 1;
						margin: 0 0 0 25px;
					}
						footer .row .col .sources span {
							border-bottom: 1px dotted #667;
						}
							footer .row .col .sources span:hover {
								border-bottom: none;
							}

	#logo {
		background: #fff url("../img/tass_ru_.svg") center center no-repeat;
		background-size: cover;
		width: 50px;
		height: 50px;
		margin: 20px auto 20px 10px;
	}
		.en #logo {
			background: #fff url("../img/tass_en_.svg") center center no-repeat;
			background-size: cover;
		}
	
	#copyright::first-letter {
		font-family: "arial", "helvetica", sans-serif;
	}

/* Navigation -------------------------------------------------------------- */

	#burger {
		cursor: pointer;
		background: #fff url("../img/burger.svg") top center no-repeat;
		background-size: 50px 100px;
		position: fixed;
		width: 50px;
		height: 50px;
		top: 0;
		left: 0;
	}
		#burger:hover {
			background-position-y: -50px;
		}
	@media (min-width: 1025px) {
		#burger {
			top: 0;
			left: 50px;
		}
	}

	#sharing {
		cursor: pointer;
		background: #fff url("../img/sharing.svg") top center no-repeat;
		background-size: 50px 100px;
		position: fixed;
		width: 50px;
		height: 50px;
		top: 0;
		left: 50px;
	}
		#sharing:hover {
			background-position-y: -50px;
		}
	@media (min-width: 1025px) {
		#sharing {
			top: 0;
			left: 100px;
		}
	}

	#language {
		font-family: 'proxima-nova', sans-serif;
		font-size: 1rem;
		font-weight: 700;
		text-decoration: none;
		background: #fff;
		color: #00001a;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;		
		width: 50px;
		height: 50px;
		top: 0;
		left: 100px;
	}
		#language:hover {
			background: #00001a;
			color: #fff;
		}
	@media (min-width: 1025px) {
		#language {
			position: fixed;
			top: 0;
			left: 150px;
		}
	}

	nav {
		background: #00001a;
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100vh;
	}
	@media (min-width: 510px) {
		nav {
			left: -350px;
			width: 350px;
			transition: left .5s ease-in-out;
		}
	}
		nav.on {
			left: 0;
		}
		nav li {
			font-family: "trajan-sans-pro", sans-serif;
			font-weight: 700;
			font-size: 1rem;
			line-height: 1rem;
			letter-spacing: 1px;
			white-space: nowrap;
			list-style-type: decimal;
			color: #99a;
			margin: 0 1rem 1rem 2rem;
		}
			nav li:hover {
				cursor: pointer;
				color: #fff;
			}
		nav #close {
			cursor: pointer;
			background: transparent url("../img/close.svg") center center no-repeat;
			background-size: cover;
			position: absolute;
			width: 50px;
			height: 50px;
			top: 0;
			right: 0;
		}

	#social {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		margin: 3rem auto 0 auto;
	}
		#social div {
			margin: 0 20px 0 0;
		}
			#social div:last-child {
				margin: 0;
			}
			#fb, #vk, #tw {
				cursor: pointer;
				display: inline-block;
				width: 50px;
				height: 50px;
				transition: background-position-y .2s ease-out;
			}
			#fb {
				background: #334 url("../img/fb.svg") center center repeat-y;
			}
			#vk {
				background: #334 url("../img/vk.svg") center center repeat-y;
			}
			#tw {
				background: #334 url("../img/tw.svg") center center repeat-y;
			}
			#fb:hover, #vk:hover, #tw:hover {
				background-position-y: -50px;
			}

/* Map --------------------------------------------------------------------- */

	.interactive {
		margin: 3rem 0;
	}
		.interactive .map {
			position: relative;
			display: flex;
			justify-content: center;
			width: 100%;
			height: 100vh;
		}
			.map svg {
				height: 100vh;
				margin: 0 auto;
			}
/*				.map line {
					stroke: #000;
				}*/
				/*.map .marks > * {
					transition: opacity .5s ease-in-out;
				}
					.map text {
						font-size: 6.5px;
						text-align: center;
						fill: #fff;
					}
					.map tspan {
						font-size: .75rem;
						line-height: 1rem;
					}*/
				.map circle {
					cursor: pointer;
					/*stroke: #fff;
					fill: #f00;*/
					transition: all 0.3s ease-in-out;
				}
					.map circle:hover {
						opacity: 0;
					}
					.map .hide circle {
						cursor: initial;
					}
					.map .marks g:not(:last-of-type) .old {
						transform: scale(0.6);
					}
				.map .titles path {
					fill: none;
					stroke: none;
				}
				.map .paths path {
					opacity: 0;
					fill: none;
					stroke-linecap: round;
					stroke-linejoin: round;
				}
				.map .marks path {
					fill: none;
					stroke-linecap: round;
					stroke-linejoin: round;
				}
				.map .titles text {
					font-family: "trajan-sans-pro", sans-serif;
					font-weight: 700;
					font-size: 5px;
					letter-spacing: 1px;
					text-anchor: middle;
					fill: #fff;
					opacity: .5;
				}

		.interactive .event {
			background: rgba(51, 51, 68, .85);
			position: relative;
			width: calc(100% - 80px);
			max-width: 470px;
			margin: 0 20px 100vh 20px;
			padding: 20px;
			color: #fff
		}
		/*vh为1%的视窗高度，这里可以让内容始终有一个视窗高度间隔*/
			.interactive .event h3 {
				font-weight: 700;
				font-size: 1rem;
				line-height: 1.5rem;
			}
			.interactive .event p {
				font-size: 1rem;
				line-height: 1.5rem;
				margin: 0 0 1.5rem 0;
			}
				.interactive .event p:last-of-type {
					margin: 0;
				}
			.interactive .event figure {
				width: 100%;
				max-width: 470px;
				margin: 1.5rem auto;
			}
				figure img {
					width: 100%;
				}

		#mapsvg {
			background: #334 center center no-repeat;
			background-image: url("../img/Antarctic_map03.jpg");
			background-size: auto 100vh;
		}

		#svalbard {
			background: #334 center center no-repeat;
			background-image: url("../img/.svg"), url("../img/svalbard.jpg");
			background-size: auto 100vh;
		}
			#svalbard #t3 text,
			#svalbard #t4 text,
			#svalbard #t5 text {
				font-weight: 500;
				font-size: 10px;
				letter-spacing: 5px;
				opacity: .25;
			}
			#svalbard #t6 {
				font-size: 8px;
				letter-spacing: 5px;
			}
			#svalbard #chitta,
			#svalbard #quest,
			#svalbard #braganza,
			#svalbard #hobby,
			#svalbard #krasin,
			#svalbard #malygin,
			#svalbard #redtent {
				stroke-linecap: square;
			}
			#svalbard #waves circle {
				fill: none;
				stroke: #fff;
				stroke-width: .5;
			}
				#svalbard #waves circle:nth-child(1) {
					animation: wave1 1s infinite linear;
				}
				#svalbard #waves circle:nth-child(2) {
					animation: wave2 1s infinite linear;
				}
				#svalbard #waves circle:nth-child(3) {
					animation: wave3 1s infinite linear;
				}
			#svalbard #iceborder path {
				fill: none;
				stroke: #fff;
				stroke-width: .5;
				stroke-dasharray: 0,2;
			}
	
/* Section ----------------------------------------------------------------- */

	section {
		position: relative;
		padding: 5rem 0 10rem 0;
	}
		section h2 {
			font-family: "trajan-sans-pro", sans-serif;
			font-weight: 700;
			font-size: 1.25rem;
			line-height: 2rem;
			letter-spacing: 3px;
			text-align: center;
			width: calc(100% - 40px);
			max-width: 715px;
			margin: 0 auto 5rem auto;
		}
		section > p {
			font-size: 1rem;
			line-height: 1.5rem;
			width: calc(100% - 40px);
			max-width: 470px;
			margin: 1.5rem auto;
		}
/*			section > p:first-of-type:first-letter {
				font-family: "trajan-sans-pro", sans-serif;
				font-weight: 500;
				font-size: 4rem;
				line-height: 4.5rem;
				float: left;
				margin: 0 .5rem 0 -.5rem;
			}*/
			.gap {
				padding-top: 3rem;
			}
		
	#chapter0 {
		background: #fff url("../img/crack.svg") center bottom repeat-x;
		background-size: 1800px 100px;
	}
	#chapter1 {
		background: #fff url("../img/bear.svg") center bottom repeat-x;
		background-size: 1800px 100px;
		transition: all 1s ease-in-out;
	}
	#chapter2 {
		background: #fff url("../img/people.svg") center bottom repeat-x;
		background-size: 1800px 100px;
		transition: all 1s ease-in-out;
	}
		#chapter0.fade,
		#chapter1.fade,
		#chapter2.fade,
		#chapter3.fade,
		#chapter4.fade {
			color: #ccd;
			background-color: #334;
		}
	#chapter3 {
		background: #fff url("../img/icebreaker.svg") center bottom repeat-x;
		background-size: 1800px 100px;
	}
	#chapter4 {
		background: #fff url("../img/edge.svg") center bottom repeat-x;
		background-size: 1800px 100px;
	}

/* Multicolumns ------------------------------------------------------------ */

	.row {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		width: 100%;
		max-width: 980px;
		margin: 2rem auto;
	}
		.row .col,
		.row figure {
			flex-basis: 225px;
			flex-grow: 0;
			flex-shrink: 1;
			margin: 1rem 0;
		}
			.row figure img {
				width: 100%;
			}
		.row .zoom {
			flex-basis: 470px;
		}
	@media (min-width: 980px) {
		.row {
			width: calc(100% - 20px);
		}
			.row figure {
				margin: 1rem 10px;
			}
				.row .zoom:first-child img {
					transform-origin: 0 50%;
				}
				.row .zoom:last-child img {
					transform-origin: 100% 50%;
				}
	}
		
/* Figure ------------------------------------------------------------------ */

	figure {
		width: 100%;
		max-width: 470px;
		margin: 3rem auto;
	}
		figure.team {
			width: calc(100% - 40px);
		}
		figure.big {
			max-width: 960px;
			transition: none !important;
		}
			figure.big img {
				cursor: initial !important;
			}
		figure img {
			width: 100%;
		}
		figure figcaption,
		.scheme .caption {
			font-family: 'proxima-nova', sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: .75rem;
			line-height: 1rem;
			text-align: center;
			color: #99a;
			margin: .75rem 0 0 0;
		}

		.zoom img {
			cursor: initial;
		}
			.zoom img.magnify {
				cursor: initial;
				transform: none;
			}
		@media (min-width: 960px) {
			.zoom img {
				cursor: zoom-in;
				transform-origin: 50% 50%;
				transition: transform .5s ease-in-out;
			}
				.zoom img.magnify {
					cursor: zoom-out;
					transform: scale(2.0425532) !important;
				}
		}
	
/* Help -------------------------------------------------------------------- */

	.help text {
		letter-spacing: .5px;
		text-transform: uppercase;
		fill: #fff;
	}
		.team .help text {
			fill: #334;
		}
		.map .help text {
			font-size: .375rem;
		}
	.help path {
		fill: #fff;
	}
		.team .help path {
			fill: #334;
		}
		.map .help path {
			fill: #fff;
		}

		.team .help line {
			stroke: #334;
		}

/* Interactives ------------------------------------------------------------ */

	svg text {
		font-family: 'proxima-nova', sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: .75rem;
		fill: #334;
	}

	#camp svg text {
		font-size: 1.25rem;
		text-align: center;
	}
	
	#popup {
		font-family: 'proxima-nova', sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: .75rem;
		line-height: 1rem;
		background: #fff;
		color: #334;
		box-shadow: 0 1px 5px rgba(0, 0, 0, .5);
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		flex-flow: column;
		max-width: 225px;
	}
		#popup > div {
			padding: 10px;
		}
			#popup .info {
				border-top: 1px dotted #99a;
			}
			#popup .passport {
				display: flex;
				flex-flow: row nowrap;
			}
				#popup .passport img {
					flex-basis: 75px;
					flex-grow: 0;
					flex-shrink: 0;
					width: 75px;
					height: 75px;
					margin: 0 10px 0 0;
				}
				#popup .passport span {
					display: block;
				}
				#popup .passport .name {
					font-weight: 700;
					text-transform: uppercase;
				}
				#popup .passport .role {
					margin-top: 10px;
				}

	.team figcaption {
		font-family: 'proxima-nova', sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: .75rem;
		line-height: 1rem;
		text-align: left;
		color: #334;
		display: flex;
		flex-flow: row wrap;
		margin: 0;
	}
		.team figcaption > div {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			margin: 5px 0 0 0;
			padding: 0 20px 0 0;
		}
			.team figcaption > div div:first-of-type {
				flex-grow: 0;
				flex-shrink: 0;
				border-radius: 10px;
				width: 15px;
				height: 15px;
				margin: 0 5px 0 0;
			}
			.team figcaption > div div:last-of-type {
				flex-grow: 1;
				flex-shrink: 1;
			}
		.team svg .help,
		.team svg text {
			display: none;
		}
		.team svg > path:hover {
			cursor: pointer;
			fill: #c00;
		}
		@media (min-width: 960px) {
			.team svg .help,
			.team svg text {
				display: initial;
			}
		}

	.scheme {
		overflow: hidden;
		width: 100%;
		max-width: 100%;
		margin: 3rem auto;
	}
		.scheme svg {
			cursor: grab;
			cursor: -moz-grab;
			cursor: -webkit-grab;
			position: relative;
			top: 0;
			left: 0;
			width: auto;
			height: 425px;
		}
		#cut svg {
			background: transparent url("../img/italia-cut.jpg") top left no-repeat;
			background-size: cover;
		}
		#panoram svg {
			background: transparent url("../img/overwiew.jpg") top left no-repeat;
			background-size: cover;
		}
			.scheme svg:active {
				cursor: grabbing;
				cursor: -moz-grabbing;
				cursor: -webkit-grabbing;
			}
			.scheme svg image {
				transition: opacity .5s ease-in-out;
			}
				.scheme svg:hover image {
					opacity: 0;
				}
			.scheme svg line {
				stroke: #fff;
			}
			.scheme svg path {
				fill: #fff;
			}
			.scheme svg circle {
				cursor: pointer;
				stroke: #fff;
				fill: #c00;
				transition: opacity .1s ease-in-out;
			}
				.scheme svg circle:hover {
					opacity: 0;
				}
			.scheme .legend .airship {
				font-family: "trajan-sans-pro", sans-serif;
				font-weight: 700;
				font-size: .85rem;
				letter-spacing: 1px;
			}
			.scheme .legend .number {
				font-weight: 700;
				font-size: .85rem;
			}

/* Bloquote ---------------------------------------------------------------- */

	blockquote {
		display: flex;
		flex-flow: row nowrap;
		align-items: stretch;
		width: calc(100% - 40px);
		max-width: 960px;
		margin: 3rem auto;
	}
		blockquote figure {
			display: none;
			flex-direction: column;
			flex-basis: 0;
			flex-grow: 0;
			flex-shrink: 1;
			justify-content: center;
			min-width: 100px;
			margin: 0 auto;
		}
		blockquote p {
			font-family: "trajan-sans-pro", sans-serif;
			font-weight: 700;
			font-size: 1rem;
			line-height: 2rem;
			letter-spacing: .5px;
			background: transparent url("../img/talk.svg") center left no-repeat;
			background-size: 22px 600px;
			flex-basis: 695px;
			flex-grow: 0;
			flex-shrink: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 1rem 0 1rem 40px;
		}
			.fade blockquote p {
				background: transparent url("../img/talk_.svg") center left no-repeat;
				background-size: 22px 600px;
			}
			blockquote p span {
				font-family: 'proxima-nova', sans-serif;
				font-style: normal;
				font-weight: 500;
				font-size: .75rem;
				line-height: 1rem;
				letter-spacing: 0;
				color: #99a;
				display: block;
				margin: 1rem 0 0 0;
			}
		@media (min-width: 510px) {
			blockquote figure {
				display: flex;
				flex-basis: 225px;
			}
				blockquote figure img {
					border-radius: 50%;
					display: block;
					max-width: 100px;
					margin: 0 auto;
				}
				blockquote p span {
					display: none;
				}
		}

/* Buttons ----------------------------------------------------------------- */

	#loader {
		position: fixed;
		width: 100px;
		height: 100px;
		top: calc(50vh - 50px);
		left: calc(50% - 50px);
		perspective: 200px;
		perspective-origin: 50px 50px;
	}
		#loader > div {
			position: relative;
			width: 50px;
			height: 50px;
			top: 25px;
			left: 25px;
			transform-style: preserve-3d;
			animation: loading 3s infinite ease-in-out;
		}
			#loader > div div {
				background: #00001a;
				position: absolute;
				width: 50px;
				height: 50px;
			}
			#loader > div div:nth-child(1) {
				transform: translateZ(-25px);
			}
			#loader > div div:nth-child(2) {
				transform: translateX(-25px) rotateY(90deg);
			}
			#loader > div div:nth-child(3) {
				transform: translateX(25px) rotateY(90deg);
			}
			#loader > div div:nth-child(4) {
				transform: translateY(-25px) rotateX(90deg);
			}
			#loader > div div:nth-child(5) {
				transform: translateY(25px) rotateX(90deg);
			}
			#loader > div div:nth-child(6) {
				background: #00001a url("../img/tass_ru.svg") center center no-repeat;
				background-size: cover;
				transform: translateZ(25px);
			}
				.en #loader > div div:nth-child(6) {
					background: #00001a url("../img/tass_en.svg") center center no-repeat;
					background-size: cover;
				}

	#scroller {
		background: #00001a url("../img/arrow.svg") repeat-y;
		background-size: cover;
		cursor: pointer;
		width: 50px;
		height: 50px;
		margin-top: 50px;
		animation: scrolling 1.5s 4s infinite cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}

	#logotype {
		background: #00001a url("../img/tass_ru.svg") center center repeat-y;
		background-size: cover;
		cursor: pointer;
		position: absolute;
		display: block;
		width: 50px;
		height: 50px;
		top: 0;
		right: 50px;
		transition: background-position-y .2s ease-out;
	}
		.en #logotype {
			background: #00001a url("../img/tass_en.svg") center center repeat-y;
			background-size: cover;
		}
		#logotype:hover {
			background-position-y: -50px;
		}
	@media (min-width: 1025px) {
		#logotype {
			position: fixed;
		}
	}
	/*这个是最后一个轮子小动画*/
	#rose {
		background: transparent url("../img/rose.svg") no-repeat;
		background-size: cover;
		width: 50px;
		height: 50px;
		margin: 5rem auto;
		animation: wheel 2s infinite alternate ease-in-out;
	}

	#monster {
		background: transparent url("../img/monster.png") no-repeat;
		background-size: 95px 900px;
		width: 95px;
		height: 30px;
		margin: 5rem auto;
		animation: monster 20s 3s steps(30) infinite;
	}

	#awards {
		display: flex;
		align-items: center;
		margin-top: 5rem;
	}
		#awards a {
			width: 100px;
			height: 100px;
			margin: 0 10px;
		}
		#awards #iib-2018 {
			background: transparent url('../img/iib-2018.svg') center center no-repeat;
			background-size: cover;
		}
		#awards #pdg-2018 {
			background: transparent url('../img/pdg-2018.svg') center center no-repeat;
			background-size: cover;
		}

/* Animations -------------------------------------------------------------- */

	@keyframes loading {
		from {transform: rotateX(0) rotateY(0)}
		25% {transform: rotateX(0) rotateY(360deg)}
		50% {transform: rotateX(360deg) rotateY(360deg)}
		to {transform: rotateX(360deg) rotateY(360deg)}
	}

	@keyframes scrolling {
		from {background-position-y: 0}
		50% {background-position-y: 50px}
		to {background-position-y: 50px}
	}

	@keyframes splash {
		from {opacity: 0}
		to {opacity: 1}
	}

	@keyframes monster {
		from {background-position: 0 0;}
		20% {background-position: 0 -900px;}
		to {background-position: 0 -900px;}
	}

	@keyframes wheel {
		from {transform: rotate(0);}
		to {transform: rotate(60deg);}
	}

	@keyframes gillis {
		from {transform: scale(1);}
		to {transform: scale(1.5);}
	}

	@keyframes wave1 {
		from {r: 0; opacity: 0;}
		to {r: 4; opacity: .6;}
	}

	@keyframes wave2 {
		from {r: 4; opacity: .6;}
		50% {opacity: 1;}
		to {r: 8; opacity: .6;}
	}

	@keyframes wave3 {
		from {r: 8; opacity: .6;}
		to {r: 12; opacity: 0;}
	}
/*d3-----------------------------------------------------------------------------------------------------------------*/
	.legendLinear text {
	   	font-size: 9px;
			}
    .tooltip {
        position: absolute;
        z-index: 10;
            }

    .tooltip p {
        background-color: white;
        border: 1px;
        padding: 2px;
    }


/*堆叠图*/
    #satck_form {
                  position: relative;
                  right: -10vh;
                  top: 10vh;
                  padding-bottom: 20px;
            }
    .satck_button{
    	        position: relative;
    	        right: 10vh;
                top: 10vh;

    }
    .axis path,
    .axis line {
              fill: none;
              stroke: #000;
              shape-rendering: crispEdges;
            }

    .label{
                font-size: 9pt;
                fill: grey;
                text-anchor: end;

            }
    #touristchart svg{
    	margin: 0 auto;
		padding: 0 auto ;
		border: 0;
		font-size: 100%;
    }
/*d3mao--------------------------------------------------------------------------------------------------------------*/
