body {
    /*min-height: 100vh;*/

    background-color: #3cb3dc;
}
#canvas-overlay {
    background-image: url(../img/hunger.png);
    width: 96vw;
    height: 54vw;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 2vw;
    z-index: 98;
    opacity: 0.85;

}
#canvas-lines {
    width: 96vw;
    height: 54vw;
    position: absolute;
    top: 0;
    left: 2vw;
    z-index: 99;
    opacity: 0.05;
}
body {
    margin: 0;
}